<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.blueboytm.flutter_v2ray">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:minSdkVersion="34" />

    <application>
        <service
            android:name="com.github.blueboytm.flutter_v2ray.v2ray.services.V2rayProxyOnlyService"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon" />

        <service
            android:name="com.github.blueboytm.flutter_v2ray.v2ray.services.V2rayVPNService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoLibV2RayDaemon">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <receiver
            android:name="com.github.blueboytm.flutter_v2ray.v2ray.V2rayReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="V2RAY_CONNECTION_INFO" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
